// This file holds the scss global values and media queries

// COLORS
$grey-5: #292929;
$grey-4: #747474;
$grey-3: #939393;
$grey-2: #CCCCCC;
$grey-1: #EDEDED;
$box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);

// MARGINS & PADDINGS
$margin-extra-large: 64px;
$margin-large: 32px;
$margin-medium: 24px;
$margin-small: 16px;
$margin-extra-small: 8px;

// IMG AND ICONS
$img-extra-large: 64px;
$img-large: 48px;
$img-medium: 32px;
$img-small: 24px;
$img-extra-small: 12px;

