@import './_variables.scss';

#home {
    padding: $margin-medium 0;
    align-items: center;
    img {
        width: 100%;
        margin-bottom: $margin-small;
    }
    p { line-height: 2; }
}